team-merci-node-red-flows.json
[{"id":"64f04a6c.979f7c","type":"tab","label":"Home Fires","disabled":false,"info":""},{"id":"b55f412c.16543","type":"tab","label":"Rubbish Chute","disabled":false,"info":""},{"id":"4a2d1610.c9dee8","type":"tab","label":"CCTV","disabled":false,"info":""},{"id":"bc1c1030.91d0f8","type":"firebase config","z":"","firebaseurl":"scdf-node-red","loginType":"none"},{"id":"b836418b.b3a5","type":"ui_tab","z":"","name":"SCDF Home Fires","icon":"dashboard","disabled":false,"hidden":false},{"id":"1008615e.9b49e7","type":"ui_group","z":"","name":"Most Recent Incident","tab":"b836418b.b3a5","order":1,"disp":true,"width":"7","collapse":false},{"id":"ae9fc930.fa2a98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#255061","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff8b00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Fire","default":"#4B7930","baseColor":"#ff8d00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#ff8b00","edited":true},"page-titlebar-backgroundColor":{"value":"#ff8b00","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#ffae4d","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#ff8b00","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5a8d65a7.53a06c","type":"ui_tab","z":"","name":"Community First Responders (CFR)","icon":"dashboard","disabled":false,"hidden":false},{"id":"a615e24d.c7fa","type":"ui_group","z":"","name":"Phase Guide","tab":"b836418b.b3a5","order":1,"disp":true,"width":"10","collapse":false},{"id":"5d70ecd3.47cb5c","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"87ab30f8.a9a28","type":"ui_group","z":"","name":"Chat","tab":"a532ba77.fba34","order":2,"disp":true,"width":"10","collapse":false},{"id":"b9dd34e8.3ef06","type":"ui_group","z":"","name":"Record","tab":"a532ba77.fba34","order":1,"disp":true,"width":"6","collapse":false},{"id":"a532ba77.fba34","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"927c0624.ef7e3","type":"ui_group","z":"","name":"Incident history","tab":"b836418b.b3a5","order":2,"disp":true,"width":"6","collapse":false},{"id":"511e7feb.b92a28","type":"ui_group","z":"","name":"LAB","tab":"bfcc9d87.48e148","order":3,"disp":false,"width":"6","collapse":false},{"id":"bfcc9d87.48e148","type":"ui_tab","z":"","name":"Table","icon":"dashboard"},{"id":"4219549f.80541c","type":"ui_tab","z":"","name":"Table Examples","icon":"dashboard","order":1},{"id":"89c066e0.7a2b58","type":"ui_group","z":"","name":"CFR Alerts","tab":"5a8d65a7.53a06c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae3836ce.2c0d98","type":"ui_group","z":"","name":"Default","tab":"fd5c8b13.77d3d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"fd5c8b13.77d3d8","type":"ui_tab","z":"","name":"List","icon":"dashboard"},{"id":"5d3dfb5b.de1ec4","type":"ui_group","z":"","name":"Incident Location","tab":"b836418b.b3a5","order":4,"disp":true,"width":"6","collapse":false},{"id":"cbc9e759.330dd","type":"ui_group","z":"","name":"Data Analytics","tab":"b836418b.b3a5","order":5,"disp":true,"width":"10","collapse":false},{"id":"68761b4.bf9abe4","type":"ui_group","z":"","name":"Confirmation","tab":"5a8d65a7.53a06c","order":6,"disp":true,"width":"6","collapse":false},{"id":"b23170de.6cf6f","type":"shared-state","z":"","name":"Transfer","historyCount":"2"},{"id":"232c5d07.2cbfc2","type":"ui_tab","z":"","name":"SCDF Rubbish Chute Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"7df5b319.e7824c","type":"ui_group","z":"","name":"Real-time imaging","tab":"232c5d07.2cbfc2","order":1,"disp":true,"width":"6","collapse":false},{"id":"d52f3ea7.604b5","type":"ui_group","z":"","name":"Location of Chute Fires","tab":"232c5d07.2cbfc2","order":2,"disp":true,"width":"6","collapse":false},{"id":"36f95ce9.61b36c","type":"ui_group","z":"","name":"Resolved Incidents","tab":"232c5d07.2cbfc2","order":6,"disp":true,"width":"6","collapse":false},{"id":"d9d51b1c.acf118","type":"ui_group","z":"","name":"Location of Firechute Incidents","tab":"232c5d07.2cbfc2","order":4,"disp":true,"width":"10","collapse":false},{"id":"beb5579a.cb7918","type":"ui_group","z":"","name":"Data Analytics","tab":"232c5d07.2cbfc2","order":5,"disp":true,"width":"6","collapse":false},{"id":"e9332b86.aafb8","type":"ui_group","z":"","name":"myResponder ","tab":"b836418b.b3a5","order":6,"disp":true,"width":"6","collapse":false},{"id":"6c95c79d.bff36","type":"ui_tab","z":"","name":"SCDF CCTV","icon":"dashboard","disabled":false,"hidden":false},{"id":"c9e54026.4d1958","type":"ui_group","z":"","name":"CCTV Fire Dashboard","tab":"6c95c79d.bff36","order":1,"disp":true,"width":"26","collapse":false},{"id":"50c1bc75.8a7224","type":"wiotp-credentials","z":"","name":"","org":"p2cher","serverName":"","devType":"NODEMCU","devId":"Esp8266_nodemcu","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"86db4554.0c437","type":"mqtt-broker","z":"","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec97b9fb.c3a9f","type":"switch","z":"64f04a6c.979f7c","name":"smoke is detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":140,"wires":[["db960efd.bbf1c","75df8076.28ab3","d745a1b6.95cfd","3c0f82c1.5fd4c6"]]},{"id":"feb9e4ef.dc9cd8","type":"debug","z":"64f04a6c.979f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2290,"y":140,"wires":[]},{"id":"db960efd.bbf1c","type":"change","z":"64f04a6c.979f7c","name":"Audio alert: Fire alert!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning: Fire alert!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":220,"wires":[[]]},{"id":"617e87ae.6ebcc8","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":540,"wires":[["8ed6b859.569ab8","e3ef33fc.a37b48"]]},{"id":"8ed6b859.569ab8","type":"switch","z":"64f04a6c.979f7c","name":"Smoke is detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":540,"wires":[["e8b37f91.8c15f","aeb1d35b.a77ce8","bc840969.c3b7","c33d573.ef31628"]]},{"id":"f97af3d7.09d7c","type":"switch","z":"64f04a6c.979f7c","name":"Smoke is detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":800,"wires":[["5b7b6037.91efa8"]]},{"id":"9a064f7e.0c95a","type":"switch","z":"64f04a6c.979f7c","name":"No smoke detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1830,"y":880,"wires":[["b3ffd9a2.776dd8"]]},{"id":"4d2d90a1.e4f8c","type":"debug","z":"64f04a6c.979f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2630,"y":540,"wires":[]},{"id":"e8b37f91.8c15f","type":"change","z":"64f04a6c.979f7c","name":"LED alert: MERCI blanket deployed.","rules":[{"t":"set","p":"payload","pt":"msg","to":"smoke is detected still","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":540,"wires":[["4d2d90a1.e4f8c"]]},{"id":"bc840969.c3b7","type":"change","z":"64f04a6c.979f7c","name":"Alert sent to myResponder App to alert CFR","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please attend to the fire in your vicinity.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":640,"wires":[["e5f202ef.04f958","d1878d24.11de98"]]},{"id":"75df8076.28ab3","type":"change","z":"64f04a6c.979f7c","name":"LED alert: Fire alert!","rules":[{"t":"set","p":"payload","pt":"msg","to":"smoke is detected ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":140,"wires":[["feb9e4ef.dc9cd8"]]},{"id":"d745a1b6.95cfd","type":"http request","z":"64f04a6c.979f7c","name":"Alarm rings to alert household member of fire","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.thesoundarchive.com/ringtones/whistle-slide-down.mp3","tls":"","persist":false,"proxy":"","authType":"","x":1990,"y":180,"wires":[[]]},{"id":"eeaecd53.7c6988","type":"ui_audio","z":"64f04a6c.979f7c","name":"Smart MERCI blanket sounds alarm","group":"a615e24d.c7fa","voice":"0","always":true,"x":2320,"y":180,"wires":[]},{"id":"84a3b7f4.16649","type":"ui_audio","z":"64f04a6c.979f7c","name":"Smart MERCI blanket plays text-to-speech","group":"a615e24d.c7fa","voice":"en-GB","always":true,"x":2350,"y":220,"wires":[]},{"id":"a02900e3.4e0b5","type":"firebase modify","z":"64f04a6c.979f7c","name":"","firebaseconfig":"bc1c1030.91d0f8","childpath":"domestic-fire","method":"push","value":"msg.payload","priority":"msg.priority","x":2830,"y":980,"wires":[[]]},{"id":"29a1b5a1.a15502","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":800,"wires":[["f97af3d7.09d7c","9a064f7e.0c95a"]]},{"id":"a7eb8cfa.b87d58","type":"counter","z":"64f04a6c.979f7c","inc":"10","name":"Counter: Measures duration for event to be resolved if standard time is exceeded","x":2040,"y":340,"wires":[["bdeeb9f7.159b88"]]},{"id":"bdeeb9f7.159b88","type":"ui_text","z":"64f04a6c.979f7c","group":"1008615e.9b49e7","order":6,"width":0,"height":0,"name":"","label":"Duration taken to resolve issue (min)","format":"{{msg.payload}}","layout":"row-spread","x":2550,"y":340,"wires":[]},{"id":"6979eecc.08eda8","type":"debug","z":"64f04a6c.979f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2310,"y":880,"wires":[]},{"id":"b3ffd9a2.776dd8","type":"change","z":"64f04a6c.979f7c","name":"Alert: Issue Resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"Issue has been resolved.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":880,"wires":[["6979eecc.08eda8","e5f202ef.04f958"]]},{"id":"21926455.363664","type":"ui_text","z":"64f04a6c.979f7c","group":"1008615e.9b49e7","order":1,"width":"7","height":"1","name":"","label":"Time incident was resolved","format":"{{msg.payload}}","layout":"row-spread","x":2480,"y":1180,"wires":[]},{"id":"4a69ac96.b90dcc","type":"ui_template","z":"64f04a6c.979f7c","group":"927c0624.ef7e3","name":"SVG based template","order":0,"width":"6","height":"6","format":"<style>\n\n    #tex1 {\n        font-weight:bolder;\n        font-size: 12;\n        letter-spacing: 2px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"300\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"130\" > {{msg.payload[5]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"210\" > {{msg.payload[9]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":3180,"y":1060,"wires":[[]]},{"id":"53934fca.0624f8","type":"function","z":"64f04a6c.979f7c","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >9) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":1060,"wires":[["4a69ac96.b90dcc"]]},{"id":"c9fdb743.eb88f","type":"rbe","z":"64f04a6c.979f7c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":1040,"wires":[["6c269a1a.3274cc","4002efd6.176368"]]},{"id":"459e9e5.bd1996","type":"inject","z":"64f04a6c.979f7c","name":"Smoke Detector","topic":"B","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":700,"wires":[["ddca70c2.24ba18"]]},{"id":"6c269a1a.3274cc","type":"switch","z":"64f04a6c.979f7c","name":"1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1750,"y":1020,"wires":[["d9f625f.33ce6d8","2849dc3c.01ef0c","f227b955.bbe93","917e379.c325ac8"]]},{"id":"4002efd6.176368","type":"switch","z":"64f04a6c.979f7c","name":"0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1750,"y":1060,"wires":[["fa4b6a2f.9257","fe6c8bb1.72b0b"]]},{"id":"74f17106.05e66","type":"change","z":"64f04a6c.979f7c","name":"Incident resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"Time incident was resolved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":1060,"wires":[["a02900e3.4e0b5","53934fca.0624f8"]]},{"id":"9cb199ea.f409b8","type":"change","z":"64f04a6c.979f7c","name":"Incident occured","rules":[{"t":"set","p":"payload","pt":"msg","to":"Time of Incident","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":1020,"wires":[["a02900e3.4e0b5","53934fca.0624f8"]]},{"id":"d5dd9512.379748","type":"comment","z":"64f04a6c.979f7c","name":"Phase 1: Alert household member","info":"","x":1660,"y":20,"wires":[]},{"id":"2c7784ca.eaadf4","type":"comment","z":"64f04a6c.979f7c","name":"Phase 2: Smart MERCI Blanket auto-deployed,  Amber Warning for SCDF and CFRs. SCDF to stand-by. CFR to check on location.","info":"","x":1930,"y":440,"wires":[]},{"id":"1bae7e08.5af1ca","type":"comment","z":"64f04a6c.979f7c","name":"Storing incidents to database","info":"","x":1640,"y":980,"wires":[]},{"id":"56698f91.785208","type":"comment","z":"64f04a6c.979f7c","name":"Phase 3: Red Alert for SCDF and CFRs. SCDF to be deployed. Surrounding community to be evacuated.","info":"","x":1880,"y":760,"wires":[]},{"id":"e5f202ef.04f958","type":"ui_text","z":"64f04a6c.979f7c","group":"89c066e0.7a2b58","order":5,"width":"0","height":"0","name":"CFR Dashboard: Alerts","label":"","format":"{{msg.payload}}","layout":"col-center","x":2630,"y":800,"wires":[]},{"id":"70201e79.5828d8","type":"comment","z":"64f04a6c.979f7c","name":"irl: set to intervals of 3 min","info":"","x":630,"y":740,"wires":[]},{"id":"65bbf5e4.857594","type":"comment","z":"64f04a6c.979f7c","name":"irl: set to delay 1 min","info":"","x":1590,"y":580,"wires":[]},{"id":"7d6e4f15.089e78","type":"comment","z":"64f04a6c.979f7c","name":"irl: set to delay 1 min","info":"","x":1610,"y":840,"wires":[]},{"id":"fd109e1d.140dc8","type":"ui_text","z":"64f04a6c.979f7c","group":"1008615e.9b49e7","order":1,"width":0,"height":0,"name":"","label":"Time of incident","format":"{{msg.payload}}","layout":"row-spread","x":2440,"y":1120,"wires":[]},{"id":"dd158756.ed754","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":340,"wires":[["a7eb8cfa.b87d58"]]},{"id":"27310e03.0ff3f2","type":"comment","z":"64f04a6c.979f7c","name":"irl: set to delay 15 min to make up for initial input","info":"","x":1680,"y":300,"wires":[]},{"id":"d9f625f.33ce6d8","type":"change","z":"64f04a6c.979f7c","name":"Timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":1120,"wires":[["835e0f43.55504"]]},{"id":"835e0f43.55504","type":"moment","z":"64f04a6c.979f7c","name":"","topic":"","input":"","inputType":"msg","inTz":"Asia/Singapore","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_SG","output":"","outputType":"msg","outTz":"Asia/Singapore","x":2180,"y":1120,"wires":[["fd109e1d.140dc8","a02900e3.4e0b5","53934fca.0624f8"]]},{"id":"befb29d4.d23ce8","type":"moment","z":"64f04a6c.979f7c","name":"","topic":"","input":"","inputType":"msg","inTz":"Asia/Singapore","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_SG","output":"","outputType":"msg","outTz":"Asia/Singapore","x":2160,"y":1180,"wires":[["21926455.363664","a02900e3.4e0b5","53934fca.0624f8"]]},{"id":"fa4b6a2f.9257","type":"change","z":"64f04a6c.979f7c","name":"Timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":1180,"wires":[["befb29d4.d23ce8"]]},{"id":"2849dc3c.01ef0c","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1930,"y":1020,"wires":[["9cb199ea.f409b8"]]},{"id":"fe6c8bb1.72b0b","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1930,"y":1060,"wires":[["74f17106.05e66"]]},{"id":"19eb0fcc.226b38","type":"exec","z":"64f04a6c.979f7c","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ifconfig","x":1540,"y":1340,"wires":[["bc124e35.78d618"],[],[]]},{"id":"f1dd2889.54e558","type":"inject","z":"64f04a6c.979f7c","name":"get ip - eth0","topic":"Node-Red IP Address","payload":"eth0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":1350,"y":1340,"wires":[["19eb0fcc.226b38"]]},{"id":"bc124e35.78d618","type":"function","z":"64f04a6c.979f7c","name":"Extract network config","func":"// Initialize variables\nvar input, tokens, inet, bcast, mask;\nvar outString = \"TestRasPi network config for eth0\\n\";\n\n// Parse the entire string by spaces, and put each item into an array called tokens\n\ninput = msg.payload;\ntokens = input.split(\":\", 10);\n\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\ninet = tokens[1].split(\" \", 310);\noutString += \"\\n\" + \"inet addr: \" + inet[13];\n\n// Get the 8th token (example: \"Bcast:192.168.0.255\")\n// and get the substring from character 7 to the end\nbcast = tokens[8].split(\" \", 1);\noutString += \"\\n\" + \"Bcast: \" + bcast[0];\n\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nmask = tokens[9].split(\" \", 1);\noutString += \"\\n\" + \"Mask: \" + mask[0];\n\n// Don't send a message if the IF is the known default. Change to default ip.\nif (inet==\"192.168.0.120\") { \n//outString = \"\"; // set output to null if ip is the same so no message is sent\nreturn null;\n}else{\n// return the final output\nreturn {payload: outString};\n}\n","outputs":1,"noerr":0,"x":1740,"y":1340,"wires":[["a00ebb6e.befff"]]},{"id":"a00ebb6e.befff","type":"ip-location-lite","z":"64f04a6c.979f7c","name":"","inputField":"payload","outputField":"payload","x":1950,"y":1340,"wires":[["917e379.c325ac8"]]},{"id":"834d9a19.36693","type":"comment","z":"64f04a6c.979f7c","name":"Obtain living address from iplocation","info":"Due to security reasons, we wont be connecting to this webpage and will be hardcoding addresses.","x":2020,"y":1400,"wires":[]},{"id":"917e379.c325ac8","type":"change","z":"64f04a6c.979f7c","name":"Address of Incident","rules":[{"t":"set","p":"payload","pt":"msg","to":"Woodlands Dr14 Block 14 #09-88 Singapore 123456","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":1340,"wires":[["bbfbac53.6eb738","a02900e3.4e0b5","95356dce.16fa58"]]},{"id":"bbfbac53.6eb738","type":"ui_text","z":"64f04a6c.979f7c","group":"1008615e.9b49e7","order":3,"width":0,"height":0,"name":"","label":"Address of Incident","format":"{{msg.payload}}","layout":"row-spread","x":2470,"y":1340,"wires":[]},{"id":"1ec39a5.64b8566","type":"comment","z":"64f04a6c.979f7c","name":"Works for Linux ifconfig only","info":"Can Successfully get IP address","x":1720,"y":1400,"wires":[]},{"id":"a5cf0dd5.561358","type":"change","z":"64f04a6c.979f7c","name":"Address of Incident","rules":[{"t":"set","p":"payload","pt":"msg","to":"Address of Incident","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":980,"wires":[["53934fca.0624f8"]]},{"id":"f227b955.bbe93","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1930,"y":980,"wires":[["a5cf0dd5.561358"]]},{"id":"95356dce.16fa58","type":"delay","z":"64f04a6c.979f7c","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2610,"y":1240,"wires":[["53934fca.0624f8"]]},{"id":"3c0f82c1.5fd4c6","type":"change","z":"64f04a6c.979f7c","name":"Gauge: Green Standby","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":100,"wires":[["b51cbf03.906318"]]},{"id":"aeb1d35b.a77ce8","type":"change","z":"64f04a6c.979f7c","name":"Gauge: Amber Warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":600,"wires":[["b51cbf03.906318"]]},{"id":"5b7b6037.91efa8","type":"change","z":"64f04a6c.979f7c","name":"Gauge: Red Alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":840,"wires":[["b51cbf03.906318"]]},{"id":"b51cbf03.906318","type":"ui_gauge","z":"64f04a6c.979f7c","name":"Alert Status","group":"1008615e.9b49e7","order":4,"width":0,"height":0,"gtype":"gage","title":"Alert Status","label":"units","format":"{{value}}","min":"0","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":3150,"y":340,"wires":[]},{"id":"447986ad.b1ae7","type":"ui_list","z":"64f04a6c.979f7c","group":"a615e24d.c7fa","name":"","order":5,"width":0,"height":0,"lineType":"two","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":1250,"y":1900,"wires":[]},{"id":"5aedb912.99fdd8","type":"ui_list","z":"64f04a6c.979f7c","group":"a615e24d.c7fa","name":"","order":1,"width":"10","height":"4","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1450,"y":1580,"wires":[["77d23789.e6c7b8"]]},{"id":"77d23789.e6c7b8","type":"debug","z":"64f04a6c.979f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":1580,"wires":[]},{"id":"f4b428ae.0411d8","type":"change","z":"64f04a6c.979f7c","name":"List of Phases","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"title\":\"<b>Phase 3: SCDF to be deployed. Community to evacuate.</b>\",\"description\":\"<font color=\\\"red\\\"><b>Uncontrollable fire</b></font> despite multiple attempts to control the situation.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/8/8b/Red_Circle_full.png\"},{\"title\":\"<b>Phase 2: SCDF to stand-by. CFR alerted to check on situation.</b>\",\"description\":\"<font color=\\\"orange\\\"><b>MERCI Blanket</b></font>was deployed but smoke persisted.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/d/dc/Eo_circle_orange_blank.svg\"},{\"title\":\"<b>Phase 1: Smoke detected. Home Owner alerted.</b>\",\"description\":\"First detection of <font color=\\\"green\\\"><b>anomaly</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/b/b8/Green_Circle_2.png\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1580,"wires":[["5aedb912.99fdd8"]]},{"id":"d8cc4edb.c110a","type":"ui_media","z":"64f04a6c.979f7c","group":"5d3dfb5b.de1ec4","name":"","width":0,"height":0,"order":5,"category":"Maps","file":"maps.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":1250,"y":1660,"wires":[[]]},{"id":"89f1df04.f4cec8","type":"ui_chart","z":"64f04a6c.979f7c","name":"","group":"cbc9e759.330dd","order":5,"width":"10","height":"5","label":"Number of cases","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Fire Incidents","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":1720,"wires":[[]]},{"id":"e3ef33fc.a37b48","type":"switch","z":"64f04a6c.979f7c","name":"No smoke detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":680,"wires":[["6f389456.6fc55c"]]},{"id":"6f389456.6fc55c","type":"change","z":"64f04a6c.979f7c","name":"Alert: Issue Resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"Issue has been resolved.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":680,"wires":[["e5f202ef.04f958"]]},{"id":"7f73a648.70e9f","type":"ui_text","z":"64f04a6c.979f7c","group":"1008615e.9b49e7","order":5,"width":0,"height":0,"name":"CFR responded?","label":"CFR responded?","format":"{{msg.payload}}","layout":"row-spread","x":2950,"y":640,"wires":[]},{"id":"795c4ba9.284ca4","type":"change","z":"64f04a6c.979f7c","name":"Yes, responded","rules":[{"t":"set","p":"payload","pt":"msg","to":"Yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":640,"wires":[["7f73a648.70e9f","e38a4177.8e051"]]},{"id":"c33d573.ef31628","type":"change","z":"64f04a6c.979f7c","name":"No one responded","rules":[{"t":"set","p":"payload","pt":"msg","to":"No","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":480,"wires":[["7f73a648.70e9f","e38a4177.8e051"]]},{"id":"d1878d24.11de98","type":"ui_button","z":"64f04a6c.979f7c","name":"","group":"68761b4.bf9abe4","order":1,"width":0,"height":0,"passthru":false,"label":"I am checking out the incident.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":2450,"y":640,"wires":[["795c4ba9.284ca4"]]},{"id":"48bd32f.fac5ccc","type":"ui_text","z":"64f04a6c.979f7c","group":"68761b4.bf9abe4","order":1,"width":0,"height":0,"name":"Feedback message","label":"","format":"{{msg.payload}}","layout":"row-spread","x":3390,"y":680,"wires":[]},{"id":"d84d299f.c6e5d8","type":"change","z":"64f04a6c.979f7c","name":"Confirmation","rules":[{"t":"set","p":"payload","pt":"msg","to":"Thank you for helping to check out the area!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3190,"y":640,"wires":[["48bd32f.fac5ccc"]]},{"id":"fcfaef23.389ba8","type":"inject","z":"b55f412c.16543","name":"Infrared Sensor Coverage Percentage","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":180,"wires":[["a5f8e2a1.e89b48"]]},{"id":"1e5d6a48.99afb6","type":"comment","z":"b55f412c.16543","name":"Simulation of different fire intensities","info":"Through image classification, we can identify small, medium and large types of fire hazards in the rubbish chute.","x":280,"y":140,"wires":[]},{"id":"a5f8e2a1.e89b48","type":"counter","z":"b55f412c.16543","inc":"10","name":"Increase by 10%","x":570,"y":180,"wires":[["ca261ae9.c1939"]]},{"id":"ca261ae9.c1939","type":"switch","z":"b55f412c.16543","name":"Fire Range","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"30","v2t":"num"},{"t":"btwn","v":"31","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":180,"wires":[["2d5d4f5f.e0ad1"],["f103867e.45341"],["4ef4e058.edb628"]]},{"id":"2d5d4f5f.e0ad1","type":"debug","z":"b55f412c.16543","name":"Simulation of Small amount of waters released by sprinklers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":120,"wires":[]},{"id":"f103867e.45341","type":"debug","z":"b55f412c.16543","name":"Simulation of Medium amount of waters released by sprinklers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":160,"wires":[]},{"id":"4ef4e058.edb628","type":"debug","z":"b55f412c.16543","name":"Simulation of Large amount of waters released by sprinklers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":200,"wires":[]},{"id":"7a21f89f.7a2a7","type":"ui_media","z":"b55f412c.16543","group":"7df5b319.e7824c","name":"","width":0,"height":0,"order":0,"category":"Fire","file":"firechute.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1550,"y":200,"wires":[[]]},{"id":"c72e19e0.80f65","type":"ui_list","z":"b55f412c.16543","group":"d52f3ea7.604b5","name":"","order":1,"width":"6","height":"6","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":1950,"y":240,"wires":[["790ac9c4.eaf5a"]]},{"id":"790ac9c4.eaf5a","type":"debug","z":"b55f412c.16543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":240,"wires":[]},{"id":"c1ce12d7.3c2a8","type":"change","z":"b55f412c.16543","name":"List of Phases","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"title\":\"<b>2931485: Medium Intensity</b>\",\"description\":\"<font color=\\\"green\\\"><b>Block 308 Tampines Street 21</b></font>\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/b/b8/Green_Circle_2.png\"},{\"title\":\"<b>3945239: Small Intensity</b>\",\"description\":\"<font color=\\\"yellow\\\"><b>Block 232 Ang Mo Kio Ave 3</b></font>\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/b/be/Yellow_Circle.png\"},{\"title\":\"<b>3245690: High Intensity</b>\",\"description\":\"<font color=\\\"orange\\\"><b>Block 536 Yishun Street 81</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/d/dc/Eo_circle_orange_blank.svg\"},{\"title\":\"<b>2385890: Very High Intensity</b>\",\"description\":\"<font color=\\\"red\\\"><b>Block 73 Sims Drive 21</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/8/8b/Red_Circle_full.png\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":240,"wires":[["c72e19e0.80f65"]]},{"id":"26736349.bbedf4","type":"inject","z":"b55f412c.16543","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1560,"y":260,"wires":[["c1ce12d7.3c2a8"]]},{"id":"8490bb71.a6611","type":"ui_list","z":"b55f412c.16543","group":"36f95ce9.61b36c","name":"","order":3,"width":"6","height":"6","lineType":"one","actionType":"check","allowHTML":false,"outputs":1,"topic":"","x":1790,"y":360,"wires":[["2379f831.0d483"]]},{"id":"e0d89c8a.cf4938","type":"inject","z":"b55f412c.16543","name":"Resolved Incidents","topic":"","payload":"[{\"title\":\"Block 308 Tampines Street 21\",\"isChecked\":true},{\"title\":\"Block 232 Ang Mo Kio Ave 3\"},{\"title\":\"Block 536 Yishun Street 81\"},{\"title\":\"Block 73 Sims Drive 21\",\"isChecked\":true}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1590,"y":360,"wires":[["8490bb71.a6611"]]},{"id":"2379f831.0d483","type":"debug","z":"b55f412c.16543","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1990,"y":360,"wires":[]},{"id":"494ece8f.9e1488","type":"ui_media","z":"b55f412c.16543","group":"d9d51b1c.acf118","name":"","width":"10","height":"6","order":0,"category":"Fire","file":"morefires.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1750,"y":460,"wires":[[]]},{"id":"c6d07f8.727718","type":"ui_chart","z":"b55f412c.16543","name":"Number of Firechute incidents","group":"beb5579a.cb7918","order":0,"width":0,"height":0,"label":"Number of Firechute incidents","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1950,"y":540,"wires":[[]]},{"id":"ccbcf8be.d58d9","type":"counter","z":"b55f412c.16543","inc":1,"name":"Increase","x":1710,"y":520,"wires":[["c6d07f8.727718"]]},{"id":"7f54bbdc.dfa644","type":"counter","z":"b55f412c.16543","inc":"-1","name":"Decrease","x":1710,"y":580,"wires":[["c6d07f8.727718"]]},{"id":"75cc27f.1fd5758","type":"inject","z":"b55f412c.16543","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1550,"y":540,"wires":[["ccbcf8be.d58d9"]]},{"id":"379dd9b7.f80ea6","type":"inject","z":"b55f412c.16543","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1550,"y":580,"wires":[["7f54bbdc.dfa644"]]},{"id":"cc8eb6f9.6848f8","type":"ui_media","z":"64f04a6c.979f7c","group":"e9332b86.aafb8","name":"Images sent by CFR","width":"6","height":"4","order":5,"category":"Maps","file":"hdbfire.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":1300,"y":1780,"wires":[[]]},{"id":"c5a006a4.482618","type":"ui_text","z":"64f04a6c.979f7c","group":"e9332b86.aafb8","order":6,"width":0,"height":0,"name":"","label":"CFR Remarks:","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":1840,"wires":[]},{"id":"df27baab.5d4d08","type":"inject","z":"64f04a6c.979f7c","name":"User Input Remarks","topic":"","payload":"Should be 7th floor of Block 628 Kallang Drive 18","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":1840,"wires":[["c5a006a4.482618"]]},{"id":"6f466c45.8eb52c","type":"ui_media","z":"4a2d1610.c9dee8","group":"c9e54026.4d1958","name":"","width":0,"height":0,"order":0,"category":"Fire","file":"photo_2020-06-14_07-16-11.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":300,"y":140,"wires":[[]]},{"id":"e38a4177.8e051","type":"switch","z":"64f04a6c.979f7c","name":"Toggle between messages sent","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2950,"y":700,"wires":[["d84d299f.c6e5d8"],["ac330f05.36e65"]]},{"id":"ac330f05.36e65","type":"change","z":"64f04a6c.979f7c","name":"Confirmation","rules":[{"t":"set","p":"payload","pt":"msg","to":"Click to confirm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3190,"y":740,"wires":[["48bd32f.fac5ccc"]]},{"id":"1860c309.72208d","type":"switch","z":"64f04a6c.979f7c","name":"No smoke detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1890,"y":60,"wires":[["c93fc9a9.04fee8"]]},{"id":"c93fc9a9.04fee8","type":"change","z":"64f04a6c.979f7c","name":"Gauge: Normal (no crisis)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":60,"wires":[["b51cbf03.906318"]]},{"id":"ddca70c2.24ba18","type":"BooleanLogic","z":"64f04a6c.979f7c","name":"A,B","operation":"OR","inputCount":2,"topic":"A,B","x":910,"y":600,"wires":[["ec97b9fb.c3a9f","1860c309.72208d","dd158756.ed754","617e87ae.6ebcc8","29a1b5a1.a15502","c9fdb743.eb88f","f4b428ae.0411d8","d8cc4edb.c110a","89f1df04.f4cec8"]]},{"id":"811617eb.c85e9","type":"switch","z":"64f04a6c.979f7c","name":"Temperature threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"300","vt":"num"},{"t":"lt","v":"300","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":460,"wires":[["4e075a81.e345ec"],["9f7cdb50.701e28"]]},{"id":"4e075a81.e345ec","type":"change","z":"64f04a6c.979f7c","name":"Fire detected","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":420,"wires":[["ddca70c2.24ba18"]]},{"id":"9f7cdb50.701e28","type":"change","z":"64f04a6c.979f7c","name":"No Fire Detected/Revert to normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":480,"wires":[[]]},{"id":"c5588af9.0d8c6","type":"inject","z":"64f04a6c.979f7c","name":"Temperature sensor","topic":"A","payload":"400","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["811617eb.c85e9"]]},{"id":"f31108b9.bf66c8","type":"comment","z":"64f04a6c.979f7c","name":"Do note that all timings have been set to be simulated in seconds, but the actual process will run in minutes.","info":"","x":420,"y":260,"wires":[]}]